<div *ngIf="items.length === 0; else showItems">
  There are no wishes to display.
</div>

<ng-template #showItems>
  <ul class="wish-list">
    <li *ngFor="let item of items; index as ii">
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="checkbox"
            type="checkbox"
            [checked]="item.isCompleted"
            [attr.data-index]="ii"
            (click)="toggleItem(item)"
          />
          {{ item.name }}
        </label>
      </div>
    </li>
  </ul>
</ng-template>
